{{#each listings as |listing|}}
  {{log listing}}
  <!-- {{> partial}}
  Don't uncomment yet -->
  <div>
    <section data-id="{{listing.id}}">
      <p> Id: {{listing.id}}
      <p> Address: {{listing.address}} </p>
      <p> Check-In: {{listing.start_date}} </p>
      <p> Check-Out: {{listing.end_date}} </p>
      <p> Price per night: {{listing.price_night}} </p>

      <!-- will work on the code below as an extra feature  -->
      <!-- <section data-id="{{email}}">
        <p> User Email: {{email}} </p>
      </section> -->

  <button data-id="{{listing.id.guests}}" class="btn btn-default get-guests">Get Guests</button>
  <button data-id="{{listing.id.guests}}" class="btn btn-default delete-guests">Delete Guests</button>
  <button data-id="{{listing.id}}" class="btn btn-default delete-listing">Delete Listing</button>

  <!-- <button data-id="{{listing.id}}" class="btn btn-default update-listing">Update Listing</button> -->

  <!-- Button trigger modal -->
<button type="button" data-id="{{listing.id}}" class="btn btn-primary update-listing">
  Update Listing
</button>

<!-- Modal -->
<div class="modal fade content" id="myModal-{{listing.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form class='update-listing-form'>
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle-{{listing.id}}">Update Listing Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <input name="listing[id]" type="number" placeholder="Listing Id"> -->

        <input name="listing[address]" type="text" placeholder="Address">
        <input name="listing[start_date]" type="text" placeholder="Check-In">
        <input name="listing[end_date]" type="text" placeholder="Check-Out">
        <input name="listing[price_night]" type="number" placeholder="Price Per Night">
      </div>
      <div class="modal-footer">
        <button type="button" class="cancel btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" data-id="{{listing.id}}" class="btn btn-primary update-listing"></input>
        </div>
      </form>
    </div>
  </div>
</div>

  </section>
  </div>

{{/each}}
